body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 51, 43);
}

.navmenu {
    padding: 10px;
    background-color: rgb(29, 28, 28);
    text-align: center;
}

#flex button{
    margin: 15px;
    padding: 8px 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: large;
    cursor: pointer;
    color: rgb(29, 28, 28);
    border-radius: 2px;
}

#flex button:hover{
    background-color: rgb(158, 158, 158);
}

#logo {
    text-align: center;
    margin-bottom: 10px;
}

#beforeandafter{
    width: 590px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    font-size: x-large;
    margin: auto;
    color: rgb(29, 28, 28);
    border-radius: 2px;
}

.image-slideshow{
    margin-top: 10px;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    border: solid 5px rgb(29, 28, 28);
    border-radius: 3px;
}

.image-container{
    width: 2400px;
    height: 600px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.slider-image{
    float: left;
    margin-top: 0px;
    padding: 0px;
    max-width: 600px;
    max-height: 600px;
}

.button-container{
    top: -50px;
    position: relative;
}

.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
}

#slider-image-1:target ~ .image-container{
    left: 0px;
}
#slider-image-2:target ~ .image-container{
    left: -600px;
}
#slider-image-3:target ~ .image-container{
    left: -1200px;
}
#slider-image-4:target ~ .image-container{
    left: -1800px;
}